@import url("https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,400;1,700 & display=swap");

body {
  background: linear-gradient(236.85deg, #34a79c 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 19px;
  box-shadow: 7px 7px 7px 7px #0e1d2f;
  padding: 54px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}
.perfil-foto {
  border-radius: 460px;
  max-height: 150px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}
.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}
.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 100px;
  background-image: linear-gradient(90deg, white 0%, grey 50.52%, black 100%);
}

.projetos {
  background: linear-gradient(230.65deg, #499cfe 23.49%, #3468a7 95.19%);
  box-shadow: 2px 2px 4px rgba(18, 18, 18, 0.42);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin-top: 32px;
  padding: 32px;
}
.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}
.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
}
.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}
.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}
.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}